.appBg {
  background-color: seashell;
  width: 100%;
  height: 100vh;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBox {
  width: 400px;
  height: 50px;
  margin-top: 100px;
  background-color: white;
  border-radius: 9999999px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}
.searchBox:focus {
  outline: none;
}
.resultBox {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: black;
  /* width: 400px; */
}
